footer {
    width: 90%;
    margin: 0% auto;
    border: 3px solid #bdc2be;
    margin-top: 5px;
    background-color: #e4dfcb;

}

footer p {
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', 'Poppins', 'Avenir', sans-serif;
    color: #361b6d;
}