<a href="https://www.disneyplus.com/" id="logo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Disney_Plus_logo.svg/589px-Disney_Plus_logo.svg.png" alt="DisneyPlus"></a>


<header>
 
  <h1><a href="http://localhost:4200/">Seriados de animação originais</a></h1>

<nav class="menu">

    <a routerLink="/cadastro" routerLinkActive="active">Cadastro</a>
    <a routerLink="/consulta" routerLinkActive="active">Consulta</a>
    <a routerLink="/exclusao" routerLinkActive="active">Exclusão</a>
    <a routerLink="/listagem" routerLinkActive="active">Listagem</a>


  </nav> 
</header>