<main>

<div id="main_image">
  <img src="https://www.purelifewater.com/sites/g/files/zmtnxh126/files/zootopia/pl-zootopia-nick-judy-shadow.png" alt="Nick_and_Judy">

</div>

<div class="main_texts" id="boas_vindas">
  <h1>Atrações Exclusivas para Você e seu Tempo!</h1>
  <h2>Reserve seus momentos mágicos com a gente</h2>

  <p id="apresentacao">Neste site você será capaz de cadastrar reservas nos grandes hotéis da linha Walt Disney World Resort, mas tem uma outra coisa. Você também poderá reservar lugares na fila das atrações que escolher.</p>
  <p>Somos totalmente reais. Inclusive mandaremos Judy Hopps e Nick Wilde para escoltar você até o seu lugar. Tenha experiências mágicas no <strong>SEU</strong> devido tempo.</p>
  
    <div class="botoes">
        <button><a href="http://localhost:4200/cadastro">Faça suas Reservas</a></button>
        <button><a href="https://github.com/AndreCoutinhom/disney_attraction_reservation" target="_blank">Veja o GitHub do Projeto</a></button>
    </div>

  <h2>Conheça nossos criadores:</h2>

  <div class="main_creators_images">
    <a href="https://github.com/AndreCoutinhom" target="_blank"><img src="https://avatars.githubusercontent.com/u/91290799?v=4" alt="AndreC"> <p>André Coutinho</p></a>
    <a href="https://github.com/CaetanoEF" target="_blank"><img src="https://avatars.githubusercontent.com/u/163072811?v=4" alt="Joao"> <p>João Caetano</p></a>

  </div>

</div>
</main>